extends /base.pug
block head
  +css([
    {name: "@loadingio/loading.css", path: "entries/bounce.min.css"},
    {name: "@loadingio/loading.css", path: "entries/jingle.min.css"}
  ])
  style(type="text/css"): :stylus
    html, body { width: 100%; height: 100% }
    .cell
      position: relative
      user-select: none
    .cell.active:after
      content: "\f05c"
      animation: ld-bounce 1s infinite
      font-family: ldi
      display: block
      width: 1em
      height: 1em
      position: absolute
      bottom: -.5em
      left: 50%
      margin-left: -.5em
      
block body
  .w-100.h-100.d-flex.align-items-center.justify-content-center
    div
      .p-4.border.rounded.mb-4.text-center.font-weight-bold.text-lg(ld="word")
      .d-flex.g-1.text-lg.mb-1.justify-content-center(ld-each="english")
        .cell.p-2.border.rounded-sm.ld(ld-each="cell",style="text-transform:uppercase;font-family:monospace;animation-iteration-count:1")

block script
  script(type="module"): include:lsc index.ls
